.CanvasPixelPopup {
    position: absolute;
    z-index: 2;
}

.CanvasPixelPopup__card {
    position: absolute;
    bottom: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.CanvasPixelPopup__card::after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}