.CanvasStage {
    box-shadow: 0 12px 60px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    cursor: pointer;
}

.CanvasStage--Placeholder {
    background: #ddd;
}

.CanvasStage__CameraWrapper {
    overflow: hidden;
}

.CanvasStage__Camera {
    transform-origin: 0 0;
    image-rendering: pixelated;
}