.HeaderLaunchInfo {
    margin: 5px 0 0;
    font-size: 12px;
    color: #444;
}

.HeaderLaunchInfo__Beta {
    background: #2ecc71;
    color: #fff;
    font-weight: bold;
    padding: 4px;
    border-radius: 3px;
    margin-right: 10px;
    font-size: 14px;
}

@media all and (max-width: 768px) {
    .HeaderLaunchInfo {
        margin: 0 0 15px;
    }
}