.Picker {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.Picker__DisabledOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 50px 20px 100px;
    font-weight: bold;
    color: #000;
    user-select: none;
}