.CanvasSidebar {
    width: 370px;
}

.CanvasSidebar__title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
}

.CanvasSidebar__status {
    font-size: 15px;
    font-weight: 400;
    color: #777;
}

@media all and (max-width: 1100px) {
    .CanvasSidebar {
        width: 100%;
        margin-top: 30px;
    }
}