* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    height: auto;
}

.AppContent {
    width: 100%;
    min-height: calc(100vh - 150px);
    overflow: hidden;
}

.containerWrapper {
    background: #fafafa;
    padding: 50px 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.emoji-hands::after {
    content: "\01F64C";
}

.emoji-rocket::after {
    content: "\01F680";
}

.color-inherit {
    color: inherit !important;
}

.hover-underline:hover {
    text-decoration: underline !important;
}

.text-nowrap {
    white-space: nowrap;
}

.text-wrap {
    word-wrap: break-word;
}

.text-center {
    text-align: center;
}

.text-error {
    color: red;
    font-size: 0.9em;
}

.font-monospace {
    font-family: monospace;
}

.overflow-hidden {
    overflow: hidden;
}

blockquote::before {
    display: block;
    content: '“';
    font-size: 100px;
    position: absolute;
    top: -70px;
    left: -20px;
    color: #fff;
    font-family: 'Times New Roman', Georgia, serif;
}

/*Ant overrides */
.ant-modal,
.ant-alert,
.ant-table-body,
.ant-badge-status {
    font-family: 'Montserrat', sans-serif;
}

.ant-modal .ant-modal-title,
.ant-confirm-body .ant-confirm-title,
.ant-notification-notice-message {
    font-weight: bold;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
    word-break: normal !important;
}

/* Responsive classes */

@media all and (max-width: 768px) {
    .hidden-mobile {
        display: none !important;
    }
}