* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 0 100px 0;
    font-family: 'Montserrat', sans-serif;
    height: auto;
}

.containerWrapper {
    background: #fafafa;
    padding: 50px 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.emoji-hands::after {
    content: "\01F64C";
}

.emoji-rocket::after {
    content: "\01F680";
}