.About {
    font-size: 16px;
    line-height: 1.7;
}

.About__nav {
    padding: 20px 0;
}

@media all and (max-width: 768px) {
    .About__nav {
        padding-top: 0;
        padding-bottom: 40px;
    }

    .About__nav .ant-affix {
        position: static !important;
    }
}