.Homepage__header {
    flex-wrap: nowrap;
}

.Homepage__quote {
    margin-bottom: 0;
    position: relative;
}


@media all and (max-width: 768px) {
    .Homepage__header {
        flex-wrap: wrap;
    }
}