.Footer {
    font-size: 12px;
    color: #999;
    padding: 70px 20px 100px;
}

.Footer a {
    color: #999;
}

.Footer a:hover {
    color: #222;
    text-decoration: underline;
}

.Footer__nav > *:not(:last-child){
    margin-right: 20px;
}

@media all and (max-width: 768px) {
    .Footer {
        padding-bottom: 130px;
    }

    .Footer__nav {
        text-align: center;
        margin-bottom: 20px;
    }
}