.Header {
    max-width: 1100px;
    padding: 40px 20px 50px;
    margin: 0 auto;
}

.Header__Mona {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    position: relative;
    top: 5px;
}

.Header__link {
    text-decoration: none !important;
}

.Header__logo {
    width: 330px;
}

.Header__subtitle {
    color: #999;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}

.Header__menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.Header__menu li {
    display: inline-block;
    padding: 0 30px;
    font-weight: bold;
    font-size: 18px;
}

.Header__menu-link {
    color: #222;
    border-bottom: 2px solid transparent;
    text-decoration: none !important;
}

.Header__menu-link:not(.Header__menu-link--disabled):hover {
    color: #222;
}

.Header__menu-link--active {
    border-color: #222;
}

.Header__menu-link--disabled {
    color: #999;
    cursor: default;
}

.HeaderTestnet__Info {
    background: orange;
    padding: 3px 5px;
    color: #fff;
    margin-top: 10px;
    font-weight: bold;
    display: block;
    text-align: center;
    cursor: default;
}

.HeaderTestnet__Popup {
    font-weight: bold;
}

.HeaderTestnet__WarningIcon {
    font-size: 30px;
    color: red;
    margin-right: 10px;
}

@media all and (max-width: 1100px) {
    .Header__menu {
        display: flex;
        flex-direction: column;
    }
}

@media all and (max-width: 768px) {
    .Header {
        padding: 15px 20px 20px;
        flex-direction: column;
        text-align: center;
    }

    .Header__Mona {
        display: none;
    }

    .Header__logo {
        width: 300px;
    }

    .Header__subtitle {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .Header__menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .Header__menu li {
        padding: 0 15px;
    }

    .HeaderTestnet__Info {
        margin-bottom:  15px;
    }
}